.btn {
  margin: 1em auto;
  padding: .5em 2em;
  font-size: 1.2em;
  color: color(10);
  background-color: color(80);
  border: 1px solid color(10);
  border-radius: 9999px;
  transition: .2s;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    color: color(80);
    background-color: color(30);
  }
}