.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color(10, 0.7);

  display: grid;
  place-items: center;

  &--content {
    $side: min(80vmin, 40em);
    position: absolute;
    width: $side;
    height: $side;
    padding: 2em;
    background-color: color(50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .outer-circle {
      $diameter: 80%;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      background-color: color(100, .2);

      display: flex;
      justify-content: center;
      align-items: center;

      .inner-circle {
        $diameter: 100%;
        width: $diameter;
        height: $diameter;
        border-radius: 50%;
        background-color: color(90);
      }
    }

    p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}